/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .plugin_admin_setting_section {
 	background: #fff;
 	height: calc(100vh);
 	padding: 0 10px;
 }

 .plugin_admin_setting_section .left_panel {
 	width: 50%;
 	border: 1px groove #ccc;
 	padding: 10px;
 }

 .plugin_admin_setting_section .logo img {
 	width:50%;
 }
form, label {
	border: none;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
	text-align: inherit;
}

input[type="text"],
input[type="number"],
textarea {
	background: #fff;
	box-shadow: none;
	display: block;
	letter-spacing: -0.015em;
	margin: 0;
	max-width: 100%;
	width: 100% !important;
}